# [Adult Data Set](https://archive.ics.uci.edu/ml/datasets/Adult)

Predict whether income exceeds $50K/yr based on census data.
Also known as "Census Income" dataset.

**Attributes**

- age
- workclass
  - Represents the employment status of an individual
- fnlwgt
  - Final weight which is the number of people the census believes the entry represents
  - People with similar demographic characteristics should have similar weights
    - This only applies within state.
- education
  - The highest level of education achieved by an individual
- education-num
  - The highest level of education achieved in numerical form
- marital-status
- relationship
  - Represents what this individual is relative to others
- race
- sex
- capital-gain
- capital-loss
- hours-per-week
  - The hours an individual has reported to work per week
- native-country

The dataset is given as a `csv` file.

![Adult Data CSV Capture](../image/data_csv_capture.png)

# Data Loading

In [ ]:
import pandas as pd

In [ ]:
adult_df = pd.read_csv(
    "../data/adult_data.csv"
)

In [ ]:
adult_df.head()

<div class="alert alert-block alert-danger">
Something went wrong; column names are not correct.
</div>

Ah, there are no column names in the raw data. Let's give them explicitly.

In [ ]:
column_names = [
    'age',
    'workclass',
    'fnlwgt',
    'education',
    'education_num',
    'marital_status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'capital_gain',
    'capital_loss',
    'hours_per_week',
    'native_country',
    'income',
]

adult_df = pd.read_csv(
    "../data/adult_data.csv",
    names=column_names
)

In [ ]:
adult_df.head()

# Essentail Check

## `info()` and `describe()`

In [ ]:
adult_df.info()

In [ ]:
adult_df.describe()

In [ ]:
adult_df.describe(exclude='number')

In [ ]:
adult_df['workclass'].unique()

<div class="alert alert-block alert-danger">
We encountered another problem; there is an unnecessary space in string columns.
</div>

We can fix it using `skipinitialspace` parameter of the `pd.read_csv()` function.

In [ ]:
adult_df = pd.read_csv(
    "../data/adult_data.csv",
    names=column_names,
    skipinitialspace=True
)

adult_df['workclass'].unique()

# Notebook Refactoring Recommendations

- Put `import` statements at first
- Put every cell in order, so that your notebook can be excuted from the top to the bottom without errors
- Follow [PEP 8 - Style Guide for Python Code](https://peps.python.org/pep-0008/)
- Try to split one big notebook into several ones by some logic
- **Extract repeated code to functions**

# Refactoring example: extract repeated code to functions



Original code:

```python
column_names = [
    'age',
    'workclass',
    'fnlwgt',
    ...
]

adult_df = pd.read_csv(
    "../data/adult_data.csv",
    names=column_names,
    skipinitialspace=True
)
```

Improvements:

- Extract a target file to read as a `data_file` argument to provide flixibility
- Provide a default file path
- Change `column_names` to a Tuple and make the variable name to a constant using all capital letters

In [ ]:
def load_adult_data(data_file='../data/adult_data.csv'):
    COLUMN_NAMES = (
        'age',
        'workclass',
        'fnlwgt',
        'education',
        'education_num',
        'marital_status',
        'occupation',
        'relationship',
        'race',
        'sex',
        'capital_gain',
        'capital_loss',
        'hours_per_week',
        'native_country',
        'income',
    )
    
    return pd.read_csv(
        data_file,
        names=COLUMN_NAMES,
        skipinitialspace=True
    )

In [ ]:
new_adult_df = load_adult_data()
new_adult_df.head()